<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>CompuNet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <header class="header-area">
    <div class="header-top">
      <div class="container">
        <div class="row align-items-center text-center text-md-left">

          <div class="col-md-3 col order-1 order-md-1 mb-sm-30">
            <div class="logo">
              <a href="/">
                <img src="img/logo.png" alt="logo-img">
              </a>
            </div>
          </div>
          <div class="col-md-6  order-3 order-md-2">
            <div class=" categorie-search-box">
              <form action="#">
                <input type="text" name="search" placeholder="Buscar productos">
                <button>
                  <span class="ti-search"></span>
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-3 col order-2 order-md-3 mb-sm-30">
            <div class="cart-box float-md-right">
              <div class="drodown-show">
                <a href="#" onclick="verCarrito()">
                  <span id="total-pro" class="total-pro">
                  </span>
                </a>
                <ul class="dropdown cart-box-width">
                  <li>
                    <div id="CategoryModal" class="single-cart-box">

                    </div>
                    <div class="cart-footer">
                      <ul class="price-content">
                        <li>Subtotal
                          <span id="subtotal"></span>
                        </li>
                        <li>Descuento
                          <span id="descuento"></span>
                        </li>

                        <li>Total
                          <span id="total"></span>
                        </li>
                      </ul>
                      <div class="cart-actions text-center">
                        <a  type="button" data-dismiss="modal"class="cart-checkout" href="#">Checkout</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom blue-bg header-sticky">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-10 d-none d-lg-block">
            <nav>
              <ul class="header-menu-list">
                <li class="active">
                  <a href="/">Inicio</a>
                </li>
                <li>
                  <a href="/?ofertas=1">Ofertas</a>
                </li>
                <li>
                  <a href="servicios">Servicios</a>
                </li>
                <li>
                  <a href="nosotros">Nosotros</a>
                </li>
                <li>
                  <a class="drop-icon" href="contacto">Contacto</a>
                </li>
              </ul>
              </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-2">
            <div class="setting-box float-right">
              <ul>
                <li class="drodown-show">
                  <a href="#">
                    <span class="ti-settings"></span>
                  </a>

                  <ul class="dropdown cart-box-width currency-selector">
                    <li>
                      <h3>My Account </h3>
                      <ul>
                        <li>
                          <a href="#">Register</a>
                        </li>
                        <li>
                          <a href="#">Login</a>
                        </li>
                        <li>
                          <a href="#">My Account</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h3>Currency: USD</h3>
                      <ul>
                        <li>
                          <a href="#">€ Euro</a>
                        </li>
                        <li>
                          <a href="#">£ Pound Sterling</a>
                        </li>
                        <li>
                          <a href="#">$ US Dollar</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h3>Language: EN-GB</h3>
                      <ul>
                        <li>
                          <a href="#">
                            <img src="#" alt="lang-icon"> English</a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="#" alt="lang-icon"> Germany</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>


        </div>
      </div>
    </div>

  </header>



  <script>

    var totalItems = 0;
    var total = 0;

    for (var i = 0; i <= localStorage.length - 1; i++) {
      var item = JSON.parse(localStorage.getItem(localStorage.key(i)));
      totalItems += item.cantidad;
      total += item.precio_venta;
    }

    var precio = 120.00;
    document.getElementById('total-pro').innerHTML = `${totalItems} item <br><span>$${total}</span>`;

    console.log(totalItems)


    function verCarrito() {


      for (var i = 0; i <= localStorage.length - 1; i++) {
        var item = JSON.parse(localStorage.getItem(localStorage.key(i)));
        document.getElementById("subtotal").innerText = item.precio_venta;

        document.getElementById("total").innerText = ((item.precio_venta * 0.15) + item.precio_venta) * totalItems;



        document.getElementById("CategoryModal").innerHTML += `
                      <div class="cart-img">
                        <a id="imagen" href="#">
                          <img src=" ${item.imagen}"alt="cart-image">
                        </a>
                        <span class="pro-quantity">1X</span>
                      </div> <div class="cart-content">
                        <h6 >
                          <a id="nombre"  href="#">${item.nombre} </a> </h6>
                        <span ud="precio"class="cart-price">${item.precio_venta} </span></div>`;
      }

    }

    function guardar() {

      var productos = [];
      for (var i = 0; i <= localStorage.length - 1; i++) {
        var item = JSON.parse(localStorage.getItem(localStorage.key(i)));
        productos.push(item);
      }

      fetch('/admin/pedidos', {
        method: 'POST',
        body: JSON.stringify(productos),
        headers: { 'Content-Type': 'application/json' }
      }).then(result => {
        //$('#CategoryModal').modal('hide');
        //location.reload();
      }).catch(err => {
        console.log(err);
      });
    }




  </script>