#actionsContainer{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 2px;
}


#actiosItems{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding-left: 2px;
    padding-right: 2px;
}

.file-uploader .input-group input,
.file-uploader .input-group-btn .button {
  height: 35px;
}
.file-uploader .input-group .input-group-addon {
  padding: 2px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  color: #337ab7;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d6d9e2;
  border-radius: 0;
}
.file
{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width:100%;
  height:100%;
}