<div class="main-shop-page ptb-80">
    <div class="container">
        <!-- Row End -->
        <div class="row">
            <!-- Sidebar Shopping Option Start -->
            <div class="col-lg-3 order-2 order-lg-1 mt-all-30">
                <div class="sidebar shop-sidebar">
                    <!-- Price Filter Options Start -->

                    <!-- Price Filter Options End -->
                    <!-- Sidebar Categorie Start -->
                    <div class="sidebar-categorie mb-30">
                        <h3 class="sidebar-title">Categorias</h3>
                        <ul class="sidbar-style">
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="camera" type="checkbox">
                                <label class="form-check-label" for="camera">Computadores Portatiles</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="GamePad" type="checkbox">
                                <label class="form-check-label" for="GamePad">Computadores de Escritorio</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="Digital" type="checkbox">
                                <label class="form-check-label" for="Digital">Servidores</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                <label class="form-check-label" for="Virtual"> Discos Duros</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                <label class="form-check-label" for="Virtual"> Procesadores</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                <label class="form-check-label" for="Virtual"> Memorias Ram</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                <label class="form-check-label" for="Virtual"> Tragetas de Video</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                <label class="form-check-label" for="Virtual"> Procesador de Video</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                <label class="form-check-label" for="Virtual"> Fuentes de Poder</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                <label class="form-check-label" for="Virtual"> Cargadores</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                <label class="form-check-label" for="Virtual"> Memorias USB</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                <label class="form-check-label" for="Virtual"> Teclados</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                <label class="form-check-label" for="Virtual"> Mouse</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                <label class="form-check-label" for="Virtual"> Diademas</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                <label class="form-check-label" for="Virtual"> UPS</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" id="  Memorias Micro SD" type="checkbox">
                                <label class="form-check-label" for="Virtual"> Diademas</label>
                            </li>
                        </ul>
                    </div>



                </div>
                <div class="sidebar-categorie">
                    <h3 class="sidebar-title">Marcas</h3>
                    <ul class="sidbar-style">
                        <li class="form-check">
                            <input class="form-check-input" value="#" type="checkbox">
                            <label class="form-check-label">Acer</label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" value="#" type="checkbox">
                            <label class="form-check-label">Toshiba</label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" value="#" type="checkbox">
                            <label class="form-check-label">Compaq</label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" value="#" type="checkbox">
                            <label class="form-check-label">Gateway </label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" value="#" type="checkbox">
                            <label class="form-check-label">Dell</label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" value="#" type="checkbox">
                            <label class="form-check-label">Apple</label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" value="#" type="checkbox">
                            <label class="form-check-label">Acer</label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" value="#" type="checkbox">
                            <label class="form-check-label">Hp</label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" value="#" type="checkbox">
                            <label class="form-check-label">Sony</label>
                        </li>
                    </ul>
                </div>

            </div>

            <!-- Sidebar Shopping Option End -->
            <!-- Product Categorie List Start -->
            <div class="col-lg-9 order-1 order-lg-2">
                <!-- Grid & List View Start -->
                <div
                    class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
                    <div class="grid-list-view d-flex align-items-center  mb-sm-15">
                        <ul class="nav tabs-area d-flex align-items-center">
                            <li>
                                <a class="active" data-toggle="tab" href="#grid-view">
                                    <i class="fa fa-th"></i>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#list-view">
                                    <i class="fa fa-list-ul"></i>
                                </a>
                            </li>
                        </ul>
                        <span class="show-items">Productos en el carrito</span>
                    </div>
                    <!-- Toolbar Short Area Start -->
                    <div class="main-toolbar-sorter clearfix">
                        <div class="toolbar-sorter d-md-flex align-items-center">

                        </div>
                    </div>

                </div>

                <div class="shop-area mb-all-40">

                    <div class="tab-content">
                        <div id="grid-view" class="tab-pane fade show active">
                            <div class="row border-hover-effect ">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">

                                    <div class="single-ponno-product">

                                        <div class="pro-img">
                                            <a href="product-details.html">
                                                <img class="primary-img"
                                                    src="https://topesdegama.com/app/uploads/2018/10/Logo-Apple.jpg"
                                                    alt="single-product">
                                            </a>
                                            <div class="pro-actions-link">
                                                <a href="compare.html" title="Compare">
                                                    <span class="icon icon-MusicMixer"></span>
                                                </a>
                                                <a href="#" data-toggle="modal" data-target="#myModal"
                                                    title="Quick View">
                                                    <span class="icon icon-Eye"></span>
                                                </a>
                                            </div>
                                            <a class="sticker-new " href="wishlist.html">
                                                <span class="ti-heart"></span>
                                            </a>
                                            <span class="sticker-sale">Nuevo</span>
                                        </div>

                                        <div class="pro-content">
                                            <div class="pro-info">
                                                <h4>
                                                    <a href="product-details.html">xer jenon dslr</a>
                                                </h4>
                                                <p>
                                                    <span class="special-price">$140.00</span>
                                                </p>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">

                                    <div class="single-ponno-product">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="product-details.html">
                                                <img class="primary-img"
                                                    src="https://topesdegama.com/app/uploads/2018/10/Logo-Apple.jpg"
                                                    alt="single-product">
                                            </a>
                                            <div class="pro-actions-link">
                                                <a href="compare.html" title="Compare">
                                                    <span class="icon icon-MusicMixer"></span>
                                                </a>
                                                <a href="#" data-toggle="modal" data-target="#myModal"
                                                    title="Quick View">
                                                    <span class="icon icon-Eye"></span>
                                                </a>
                                            </div>
                                            <a class="sticker-new " href="wishlist.html">
                                                <span class="ti-heart"></span>
                                            </a>
                                            <span class="sticker-sale">Nuevo</span>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <div class="pro-info">
                                                <h4>
                                                    <a href="product-details.html">jibon mouse pad</a>
                                                </h4>
                                                <p>
                                                    <span class="special-price">$20.00</span>
                                                </p>

                                            </div>

                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                    <!-- Single Product End -->
                                </div>


                                <!-- Row End -->
                            </div>
                            <!-- #grid view End -->
                            <div id="list-view" class="tab-pane fade fix">
                                <!-- Single Product Start -->
                                <div class="single-ponno-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product-details.html">
                                            <img class="primary-img"
                                                src="https://topesdegama.com/app/uploads/2018/10/Logo-Apple.jpg"
                                                alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <div class="pro-info">
                                            <h4>
                                                <a href="product-details.html">jenon Real Box</a>
                                            </h4>
                                            <p>
                                                <span class="special-price">$70.00</span>
                                            </p>

                                            <p>Phone is a revolutionary new mobile phone that allows you to make a
                                                call
                                                by simply tapping a name or number in your address book, a favorites
                                                list, or a call log. It also automatically syncs all your..</p>
                                            <p>
                                                <div class="pro-actions">
                                                    <div class="pro-add-cart">
                                                        <a href="cart.html" title="Add to Cart">Anadir al Carrito</a>
                                                    </div>
                                                    <div class="pro-actions-link">
                                                        <a href="compare.html" title="Compare">
                                                            <span class="icon icon-MusicMixer"></span>
                                                        </a>
                                                        <a href="#" data-toggle="modal" data-target="#myModal"
                                                            title="Quick View">
                                                            <span class="icon icon-Eye"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product End -->
                                <!-- Single Product Start -->
                                <div class="single-ponno-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product-details.html">
                                            <img class="primary-img"
                                                src="https://topesdegama.com/app/uploads/2018/10/Logo-Apple.jpg"
                                                alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <div class="pro-info">
                                            <h4>
                                                <a href="product-details.html">xer jenon dslr</a>
                                            </h4>
                                            <p>
                                                <span class="special-price">$140.00</span>
                                            </p>

                                            <p>Latest Intel mobile architecture Powered by the most advanced mobile
                                                processors from Intel, the new Core 2 Duo MacBook Pro is over 50%
                                                faster than the original Core Duo MacBook Pro and now sup..</p>
                                            <p>
                                                <div class="pro-actions">
                                                    <div class="pro-add-cart">
                                                        <a href="cart.html" title="Add to Cart">Anadir al Carrito</a>
                                                    </div>
                                                    <div class="pro-actions-link">
                                                        <a href="compare.html" title="Compare">
                                                            <span class="icon icon-MusicMixer"></span>
                                                        </a>
                                                        <a href="#" data-toggle="modal" data-target="#myModal"
                                                            title="Quick View">
                                                            <span class="icon icon-Eye"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product End -->
                                <!-- Single Product Start -->
                                <div class="single-ponno-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product-details.html">
                                            <img class="primary-img"
                                                src="https://topesdegama.com/app/uploads/2018/10/Logo-Apple.jpg"
                                                alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <div class="pro-info">
                                            <h4>
                                                <a href="product-details.html">jibon mouse pad</a>
                                            </h4>
                                            <p>
                                                <span class="special-price">$110.00</span>
                                            </p>

                                            <p>More room to move. With 80GB or 160GB of storage and up to 40 hours
                                                of battery life, the new iPod classic lets you enjoy up to 40,000
                                                songs or up to 200 hours of video or any combination where..</p>
                                            <p>
                                                <div class="pro-actions">
                                                    <div class="pro-add-cart">
                                                        <a href="cart.html" title="Add to Cart">Anadir al Carrito</a>
                                                    </div>
                                                    <div class="pro-actions-link">
                                                        <a href="compare.html" title="Compare">
                                                            <span class="icon icon-MusicMixer"></span>
                                                        </a>
                                                        <a href="#" data-toggle="modal" data-target="#myModal"
                                                            title="Quick View">
                                                            <span class="icon icon-Eye"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product End -->
                                <!-- Single Product Start -->
                                <div class="single-ponno-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product-details.html">
                                            <img class="primary-img"
                                                src="https://topesdegama.com/app/uploads/2018/10/Logo-Apple.jpg"
                                                alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <div class="pro-info">
                                            <h4>
                                                <a href="product-details.html">jenon Real Box</a>
                                            </h4>
                                            <p>
                                                <span class="special-price">$140.00</span>
                                            </p>

                                            <p>Latest Intel mobile architecture Powered by the most advanced mobile
                                                processors from Intel, the new Core 2 Duo MacBook Pro is over 50%
                                                faster than the original Core Duo MacBook Pro and now sup..</p>
                                            <p>
                                                <div class="pro-actions">
                                                    <div class="pro-add-cart">
                                                        <a href="cart.html" title="Add to Cart">Anadir al Carrito</a>
                                                    </div>
                                                    <div class="pro-actions-link">
                                                        <a href="compare.html" title="Compare">
                                                            <span class="icon icon-MusicMixer"></span>
                                                        </a>
                                                        <a href="#" data-toggle="modal" data-target="#myModal"
                                                            title="Quick View">
                                                            <span class="icon icon-Eye"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product End -->
                            </div>
                            <!-- #list view End -->
                        </div>
                        <!-- Grid & List Main Area End -->
                    </div>
                    <!-- Shop Breadcrumb Area Start -->

                    <!-- Shop Breadcrumb Area End -->
                </div>
                <!-- product Categorie List End -->
            </div>

        </div>

    </div>
</div>
<!-- Shop Page End -->
<!-- Footer Area Start Here -->
<!-- Footer Area End Here -->
<!-- Quick View Content Start -->