   <div class="col-lg-9 order-1 order-lg-2">
            <!-- Grid & List View Start -->
          <div class="col-lg-9 order-1 order-lg-2">
            <!-- Grid & List View Start -->
           <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">NOMBRES</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Obligatorio">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">APELLIDOS</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Obligatorio">
  </div>
    
   <div class="form-group">
    <label for="exampleFormControlInput1">EDAD</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Obligatorio">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">MENSAJE</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
            <!-- Grid & List View End -->
            <div class="shop-area mb-all-40">
              <!-- Grid & List Main Area End -->
              <div class="tab-content">
                <div id="grid-view" class="tab-pane fade show active">

                  <!-- Single Product End -->
                  <!-- Single Product Start -->

                  <!-- Product Content End -->
                </div>
                <!-- Single Product End -->
                <!-- Single Product Start -->

                <!-- Product Content End -->
              </div>
              <!-- Single Product End -->
            </div>
            <!-- #list view End -->
          </div>
          <!-- Grid & List Main Area End -->
        </div>