<!-- Support Area Start Here -->
<div class="support-area d-flex flex-wrap justify-content-between">
    <!-- Single Support Area Start Here -->
    <div class="single-support mb-all-40">
        <div class="support-icon">
            <img src="#" alt="support-icon">
        </div>
        <div class="support-desc">
            <h6>Envio Gratis</h6>
            <p>La mayoría de los productos son
                <br> envío gratis .</p>
        </div>
    </div>
    <!-- Single Support Area End Here -->
    <!-- Single Support Area Start Here -->
    <div class="single-support mb-all-40">
        <div class="support-icon">
            <img src="#" alt="support-icon">
        </div>
        <div class="support-desc">
            <h6>Atención Al Cliente</h6>
            <p>24x7 Atención Al Cliente</p>
        </div>
    </div>
    <!-- Single Support Area End Here -->
    <!-- Single Support Area Start Here -->
    <div class="single-support">
        <div class="support-icon">
            <img src="#" alt="support-icon">
        </div>
        <div class="support-desc">
            <h6>Pago Seguro</h6>
            <p>Pago más seguro

                <br> para el cliente..</p>
        </div>
    </div>
    <!-- Single Support Area End Here -->
</div>
<!-- Support Area End Here -->