<div class="col-lg-9 order-1 order-lg-2">
    <!-- Grid & List View Start -->
    <div class="col-lg-9 order-1 order-lg-2">
        <!-- Grid & List View Start -->
        <div
            class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">

            <p> COMPUNET es una empresa que desde el 2005, nace fruto de las inquietudes de las
                personas y empresas que deseaban una solución cómoda y profesional a sus necesidades de soporte técnico
                en la localidad, y encontrar también donde adquirir tecnología de buena calidad y de buen precio, con el
                respaldo y la garantía de un lugar confiable y responsable.
            </p>
        </div>
        <div
            class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">

            <ul class="nav tabs-area d-flex align-items-center">
                <li>
                    <a class="active" data-toggle="tab" href="#grid-view">
                        <i class="fa fa-th"></i>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#list-view">
                        <i class="fa fa-list-ul"></i>
                    </a>
                </li>
            </ul>

            <p> Ahora nos consolidamos como una Empresa de buen prestigio en Responsabilidad y Cumplimiento de nuestros
                compromisos, Seriedad en las relaciones con nuestros clientes y sobre todo, con el Respeto que merecen
                los clientes y los equipos que aquí se reciben para procesos de reparaciones y mantenimiento.</p>

        </div>
        <!-- Grid & List View End -->
        <div class="shop-area mb-all-40">
            <!-- Grid & List Main Area End -->
            <div class="tab-content">
                <div id="grid-view" class="tab-pane fade show active">

                    <!-- Single Product End -->
                    <!-- Single Product Start -->

                    <!-- Product Content End -->
                </div>
                <!-- Single Product End -->
                <!-- Single Product Start -->

                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
        </div>
        <!-- #list view End -->
    </div>
    <!-- Grid & List Main Area End -->
</div>