  <div class="col-lg-9 order-1 order-lg-2">
            <!-- Grid & List View Start -->
          <div class="col-lg-9 order-1 order-lg-2">
            <!-- Grid & List View Start -->
            <div
              class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
             
                <p> La empresa Compunet  está constituida como una SOCIEDAD POR ACCIONES SIMPLIFICADA. Si desea conocer más información sobre esta empresa, regístrese en eInforma y obtenga de forma gratuita su Informe Ampliado de TI TECNOLOGIA INFORMATICA SAS.La actividad a la que se dedica la empresa TI TECNOLOGIA INFORMATICA SAS es Comercio al por mayor de equipo partes y piezas electronicos y de telecomunicaciones.La última actualización de los datos de la empresa TI TECNOLOGIA INFORMATICA SAS ha sido el 15 de Septiembre de 2019.</p>
            
         
            </div>

          <div
              class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
             
                <ul class="nav tabs-area d-flex align-items-center">
                  <li>
                    <a class="active" data-toggle="tab" href="#grid-view">
                      <i class="fa fa-th"></i>
                    </a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#list-view">
                      <i class="fa fa-list-ul"></i>
                    </a>
                  </li>
                </ul>
              
                <p>Las ventas registradas durante el año 2018 han sido decrecientes respecto al año anterior.Los resultados de la empresa durante el año 2018 han sido decrecientes respecto al año anterior.El patrimonio registrado durante el año 2018 ha sido decreciente respecto al año anterior.Si quieres conocer más información comercial de TI TECNOLOGIA INFORMATICA SAS o del sector</p>
             
         
            </div>
            <!-- Grid & List View End -->
            <div class="shop-area mb-all-40">
              <!-- Grid & List Main Area End -->
              <div class="tab-content">
                <div id="grid-view" class="tab-pane fade show active">

                  <!-- Single Product End -->
                  <!-- Single Product Start -->

                  <!-- Product Content End -->
                </div>
                <!-- Single Product End -->
                <!-- Single Product Start -->

                <!-- Product Content End -->
              </div>
              <!-- Single Product End -->
            </div>
            <!-- #list view End -->
          </div>
          <!-- Grid & List Main Area End -->
        </div>